* {
  background-color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  height: 768px;
  padding: 0 20px;
  width: 1366px;
}

img {
  width: 200px;
}
